<h1>Products</h1>
<div class="container-products">
    
    {{#if result.payload.length}}
    {{#each result.payload}}
        <div class="card">
            <h3 class="card-title">{{title}}</h3>
            <img class="card-img" src="/public/image/{{img}}"/>
            <div class="card-info">
                <span class="card-price">$ {{price}}</span>
                <span class="card-stock">Stock: {{stock}}</span>
            </div>
            <div class="container-btn"> 
                <button id="cart-{{id}}" class="btn btn-cart">Cart</button>
            </div>
        </div>

    {{/each}}

    {{else}}
    <p>no product available</p>
    {{/if}}

</div>
<script src="/static/js/edit-product.js"></script>